*{
    font-family: 'Roboto',sans-serif;
}

body{
    padding: 0;
    margin: 0;
}

header{
    box-sizing: border-box;
    color: aqua;
}

h2{
    font-size: 24px;
    font-weight:bolder;
    color: #f9faf8;
    display: inline-block;
    float: left;
}

ul{
    display: inline-block;
    float: right;
    align-items: center;
    font-size: 18px;
    color: #e5e7eb;
}

a{
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
    justify-self: end;
    margin: 10px;
}

h1{
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
    margin-bottom: 10px;
}

button{
    color: #f9faf8;
    background-color: #3882f6;
    height: 40px;
    width: 90px;
    border:none;
    border-radius: 8px;
    font-size: 18px;
    transition-duration: 0.3s;
    margin-top: 20px;
}

button:hover{
    background-color: #f9faf8;
    color: #3882f6;
}

.container{
    display: flex;
    padding-left: 60px;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: #1f2937;
    margin: 0;
}

.container-left{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.container-left div, .container-left button{
    margin-bottom: 10px;
}

.container-left:nth-child(1){
    color: #e5e7eb
}

.container-right{
    display: flex;
    width: auto;
    height: 300px;
    padding-right: 60px;

}

.container2{
    background-color: #f9faf8;
    padding: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.info-title{
    font-size: 36px;
    font-weight: bolder;
    color:#1f2937;
    background-color: #f9faf8;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.container2 div{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    justify-content: center;
}

.container2 img{
    border: 5px solid #3882f6;
    border-width: 5px;
    border-radius: 20px;
    width: 60%;
    height: auto;
}

.container3{
    background-color: #e5e7eb;
    margin: 0px;
    padding: 80px;
    text-align: center;
    color: #1f2937;
}

.quote{
    font-size: 36px;
    font-style: italic;
}

.credit{
    font-size: 24px;
    font-weight: bold;
    text-align: end;
}

.container4{
    background-color: #f9faf8;
    margin: 40 0;
    padding: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container4 div{
    padding: 20 40;
    background-color: #3882f6;
    border: 0px, solid, #3882f6;
    border-radius: 10px;
    color: #f9faf8;
    display: flex;
}

.container4 button{
    border: 2px solid #f9faf8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container4-left{
    display: flex;
    flex-direction: column;
    flex: 2 2 auto;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    height: 100px;
    width: auto;
    margin: 40px 60px 40px 100px;
}

.container4-right{
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: space-around;
    margin: 40px 100px 40px 60px;
}

.container4-left-p1{
    font-size: 24px;
    font-weight: bold;
}

footer div{
    color: #e5e7eb;
    background-color: #1f2937;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}