body{
    background-color: #1f2937;
    color: white;
}

h2{
    font-size: 24px;
    font-weight:bolder;
    color: #f9faf8;
    display: inline-block;
}

ul{
    display: inline-block;
    float: right;
    text-align: center;
    font-size: 18px;
    color: #e5e7eb;
}

a{
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
    justify-self: end;
    margin: 20px;
}

h1{

}